<h1>Contacts</h1>
 
 <%= form_tag "/contacts/#{@contact.id}", method: :patch do %>
   <div>
     First_name: <input type="text" name="first_name" value="<%= @contact.first_name %>">
   </div>
   <div>
     Last_name: <input type="text" name="last_name" value="<%= @contact.last_name%>">
   </div>
   <div>
     Email: <input type="text" name="email" value="<%= @contact.email %>">
   </div>
   <div>
     Phone number: <input type="text" name="phone_number" value="<%= @contact.phone_number %>">
   </div>
     <input type="submit" value="Edit Contact">
   </div>
 <% end %> 